/* My Variables */
:root { 
    --quizQuestions: rgb(0, 105, 175) ;
  }

/* Universal selector */
* {
    margin: 0;
    padding: 0;
}

/* Body section */
body {
    font-family: 'Helvetica, sans-serif';
    font-size: 22px;
    background-color: white;
}

/* Header Section */
header {
    display: flex; /* Flex container to display the child elements as flex with space between and wrap */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color:black;
    background-color: rgb(207, 120, 7);
    height: 70px;
    font-size: 6vw;
    padding: 10px, 10px, 10px, 10px;
    font-family: 'Merienda';font-size: 22px;
    border-top: blue;
    border-bottom: blue;
    border-style: inset;
  }
  header #welcome{
    font-size: 5.3vw;
  }

#main{
  display: flex; /* Flex container to display the child elements as flex with space between and wrap */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  /* background-image: url("./assets/media/football.png"); */
}
#gridContainer{
  display: flex; /* Flex container to display the child elements as flex with space between and wrap */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  
  
}


footer{
  font-size: smaller;
  
}

